<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  </head>
  <body>

  <form action="/add_book" method="POST">
      <label for="title">Book Title:</label>
      <input type="text" id="title" name="title" required><br><br>
      <label for="publication_year">Publication year:</label>
      <select id="publication_year" name="publication_year" required>
          <option value="">Select a year</option>
          {% for year in range(2025, 1449, -1) %}
          <option value="{{ year }}">{{ year }}</option>
          {% endfor %}
</select><br><br>
      <label for="isbn">ISBN:</label>
      <input type="text" id="isbn" name="isbn" required><br><br>
      <label for="author_id">Author:</label>
      <select id="author_id" name="author_id" required>
          <option value="">Select an author</option>
          {% for author in authors %}
          <option value="{{ author.id }}">{{ author.id }} - {{ author.name }}</option>
          {% endfor %}
      </select><br><br>
      <input type="submit" value="Add Book">
  </form>

  </body>
</html>
